<app-two></app-two>
<app-three></app-three>
<app-six></app-six>
<app-seven></app-seven>
<app-eight></app-eight>

<app-my-button
  [title]="'Click Me!'"
  (btnClick)="alertOnClick()"
></app-my-button>
<app-my-button [title]="'I like icecream'" [enabled]="false"></app-my-button>
<app-my-button [title]="exampleButtonTitle"></app-my-button>

<input (change)="onInputChange($event)" />

<ul>
  <li *ngFor="let quote of quotes">
    {{ quote.author }} - {{ quote.quote }}
    <button (click)="onDeleteQuote(quote)">Remove quote</button>
  </li>
</ul>
